@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@600&display=swap');

* {
    font-family: "Raleway";
}


body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    background: #000000 url("bg2.png") center center;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    /*filter: blur(10px);
    -webkit-filter:  blur(10px);
    -moz-filter:  blur(10px);
    -o-filter:  blur(10px);
    -ms-filter: blur(10px);*/
    text-shadow: 1px 1px 2px black;
}

body, html {
    height: 100%;
    width: 100%;
    
}


header {
    width: 100%;
    height: 100%;
    position: relative;
}

header h1 {
    color: white;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

#pfp {
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 5%;
    border-radius: 100%;
    margin-left: auto;
    border: 10px solid #201f1f38;
    margin-right: auto;
}

.icons2 {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
    transition: transform .2s;
}

.icons {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #FFFFFF;
    transition: transform .2s;
}


.icons:hover {
    transform:scale(1.1);
    cursor: pointer;
}

#icon{
    text-align:center;
}

.quote, #app, #ip {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    
}

marquee {
    width: 20%;
    color: black;
    display: inline-block;
}


pre {
    color: black;
    width: 100%;
    height: 150px;
    margin-left: 40%;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    margin-right: 40%;
}

#for-iframe {
    width: 100%;
    margin-top: 3%;
}

iframe {
    margin-left: 30%; 
    margin-right: 30%; 
    min-width: 40%;
    display: inline-block;
}

#playbutton {
    margin-top: 3%;
}
