@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@600&display=swap');

* {
    overflow: hidden;
}

span {
    font-family: "Raleway";
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
}

body, html, #container, #blur-wrap, #for-welcome {
    height: 100%;
    width: 100%;
}

#for-welcome {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    backdrop-filter: blur(50px);
}


#welcome-sign {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: xx-large;
    text-align:center;
    margin-top: 450px;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

#container {
    background: #000000 url("bg2.png") center center;
    background-size: cover;
}


#blur-wrap {
    /*backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);*/
    background-size: cover;
    position: relative;
}

#pfpdiv {
    overflow: hidden;
    clear: both;
}


header {
    width: 100%;
    height: 100%;
    position: relative;
}

header h1 {
    color: white;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    font-family: "Raleway", sans-serif;
    clear: both;
}

#pfp {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    margin-top: 2%;
    margin-left: auto;
    border: 10px solid #201f1f38;
    margin-right: auto;
}

.icons2 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: auto;
    color: #FFFFFF;
    transition: transform .2s;
}

.icons {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #FFFFFF;
    transition: transform .2s;
}


.icons:hover {
    transform:scale(1.1);
    cursor: pointer;
}

.icons2:hover {
    transform:scale(1.1);
    cursor: pointer;
}

#icon{
    text-align:center;
}


.quote, #app, #ip {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    
}

marquee {
    width: 30%;
    color: black;
    display: inline-block;
}


pre {
    color: black;
    width: 61%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    float: right;
    position: relative;
    bottom: 0;

}

#for-iframe {
    width: 100%;
    margin-top: 3%;
}

iframe {
    margin-left: 30%; 
    margin-right: 30%; 
    min-width: 40%;
    display: inline-block;
}

#playbutton {
    margin-top: 3%;
}
